body {
    font-family: Arial, sans-serif;
}

.malla {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.semestre {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
    margin-bottom: 30px;
}

.ramo {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    text-align: center;
    cursor: pointer;
}

.ramo:hover {
    background-color: #ddd;
}

.ramo.aprobado {
    background-color: #8aff80;  /* Color verde para ramos aprobados */
}

.ramo.desbloqueado {
    background-color: #ffeb3b;  /* Color amarillo para ramos desbloqueados */
}

